html {
    width: 100%;
    height: 100%;
    background: #03132c;

    body {
        width: 100%;
        height: 100%;
        overflow: hidden;

        main {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;

            //飛越線段
            .lineBox,.lineBox2,.lineBox3 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                z-index: 10;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                
                .line,.line2,.line3 {
                    width: 0px;
                    display: flex;
                    justify-content: flex-end;
                    transition-property: all;
                    transition-timing-function: ease-out;
                    transform: translateY(-50%);

                    p {
                        width: 100%;
                        height: 100%;
                        background: #ffffff;
                        transition-property: all;
                        transition-timing-function: ease-out;
                        position: relative;
                    }
                }

                .line2 {

                    p {
                        background: #ff5bff;
                    }
                }

                .line3 {

                    p {
                        background: rgb(69, 233, 255);
                    }
                }
            }

            //線段字樣
            .lineDrawing {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 28%;
                left: 50%;
                transform: translate(-50%,-50%);

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #03132c;
                }

                &.display {

                    &::before {
                        display: none;
                    }
                }

                .my-path {
                    fill:none;
                    stroke:#cfc33a;
                    stroke-width:8;
                }
            }

            //輔助線段字樣
            .lineDrawingS {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;

                div {
                    position: absolute;
                    display: flex;

                    p {
                        background: #cfc33a;
                    }

                    &.lineS1 {
                        width: 19px;
                        height: 475px;
                        left: 701px;
                        top: 205px;
                        transform: rotate(7deg);
                        flex-direction: column;
                        justify-content: flex-end;
                        animation: end 1.4s linear 0.7s;

                        p {
                            width: 100%;
                            height: 0%;
                            animation: s1 0.7s linear 0.7s;
                        }
                    }

                    &.lineS2 {           
                        width: 180px;
                        height: 19px;
                        left: 811px;
                        top: 408px;
                        flex-direction: row;
                        justify-content: flex-start;
                        animation: start 1s linear 1.2s;

                        p {
                            width: 0%;
                            height: 100%;
                            animation: s2 0.5s linear 1.2s;
                        }
                    }

                    &.lineS3 {           
                        width: 447px;
                        height: 19px;
                        left: 1000px;
                        top: 462px;
                        flex-direction: row;
                        justify-content: flex-end;
                        animation: end 1.3s linear 2.5s;

                        p {
                            width: 0%;
                            height: 100%;
                            animation: s2 0.65s linear 2.5s;
                        }
                    }
                }
            }
        }
    }
}